@import "tailwindcss";

@theme {
  --color-primary-bg: #87ceeb;
  --color-primary-text: #102f41;

  --color-seagull-50: #f2f9fd;
  --color-seagull-100: #e4f2fa;
  --color-seagull-200: #c2e5f5;
  --color-seagull-300: #87ceeb;
  --color-seagull-400: #50b9e0;
  --color-seagull-500: #2aa0cd;
  --color-seagull-600: #1b81ae;
  --color-seagull-700: #17678d;
  --color-seagull-800: #175775;
  --color-seagull-900: #184962;
  --color-seagull-950: #102f41;

  --color-dull-lavender-50: #f7f4fe;
  --color-dull-lavender-100: #f0ebfc;
  --color-dull-lavender-200: #e5dafa;
  --color-dull-lavender-300: #d1bdf5;
  --color-dull-lavender-400: #b38eec;
  --color-dull-lavender-500: #a36de5;
  --color-dull-lavender-600: #954ed9;
  --color-dull-lavender-700: #843cc5;
  --color-dull-lavender-800: #6f32a5;
  --color-dull-lavender-900: #5c2a88;
  --color-dull-lavender-950: #3a1a5b;

  --color-electric-violet-50: #f4f2ff;
  --color-electric-violet-100: #ebe7ff;
  --color-electric-violet-200: #d8d2ff;
  --color-electric-violet-300: #bcadff;
  --color-electric-violet-400: #9c7fff;
  --color-electric-violet-500: #7e4bff;
  --color-electric-violet-600: #6f27ff;
  --color-electric-violet-700: #6921ed;
  --color-electric-violet-800: #5011c6;
  --color-electric-violet-900: #4410a2;
  --color-electric-violet-950: #27076e;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("./assets/clouds.jpg") no-repeat center fixed;
  background-size: cover;
}
