@import "tailwindcss";

@theme {
  --color-primary-bg: #87ceeb;
  --color-primary-text: #102f41;

  --color-seagull-50: #f2f9fd;
  --color-seagull-100: #e4f2fa;
  --color-seagull-200: #c2e5f5;
  --color-seagull-300: #87ceeb;
  --color-seagull-400: #50b9e0;
  --color-seagull-500: #2aa0cd;
  --color-seagull-600: #1b81ae;
  --color-seagull-700: #17678d;
  --color-seagull-800: #175775;
  --color-seagull-900: #184962;
  --color-seagull-950: #102f41;

  --color-dull-lavender-50: #f7f4fe;
  --color-dull-lavender-100: #f0ebfc;
  --color-dull-lavender-200: #e5dafa;
  --color-dull-lavender-300: #d1bdf5;
  --color-dull-lavender-400: #b38eec;
  --color-dull-lavender-500: #a36de5;
  --color-dull-lavender-600: #954ed9;
  --color-dull-lavender-700: #843cc5;
  --color-dull-lavender-800: #6f32a5;
  --color-dull-lavender-900: #5c2a88;
  --color-dull-lavender-950: #3a1a5b;

  --color-royal-purple-50: #f9f6fe;
  --color-royal-purple-100: #f0eafd;
  --color-royal-purple-200: #e4d9fb;
  --color-royal-purple-300: #d0bcf6;
  --color-royal-purple-400: #b290f0;
  --color-royal-purple-500: #9566e6;
  --color-royal-purple-600: #7d46d7;
  --color-royal-purple-700: #6934bc;
  --color-royal-purple-800: #6032a4;
  --color-royal-purple-900: #4b277c;
  --color-royal-purple-950: #2f115a;
}

body {
  font-family: "Roboto";
  background: url("./assets/clouds.jpg") no-repeat center fixed;
  background-size: cover;
}
